@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.josefin{
    font-family: 'Josefin Sans', sans-serif;
}
.dark_mamba{
    background-color: black;
}
.red_mamba{
    background-color:#D90429 ;
}
.header_style{
    background-image:url(../Images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}
.hdr_row{
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}
a {
    text-decoration: none;
    color: inherit; 
}
a:hover {
    color: #D90429; 
  }
  .ahover:hover{
    color: rgb(26, 26, 26);

  }
  .ahover{
    background-color: rgba(255, 255, 255, 0);
  }
.text_light{
    color:rgb(199, 199, 199);
}
.text_red{
    color: #EF233C;
}
.text_dark{
    color: black;
}
/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
.load_h1{
    display: block;
    position: absolute;
    bottom: 5%;
    padding-bottom: 50px;
    right: 10px;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 320px;
    line-height: 19px;
    z-index: 1;
}

.loading {
    background: 50% 50%/50% 50% no-repeat radial-gradient(ellipse at bottom, rgb(255, 0, 0), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-animation: reveal 50ms , glow 800ms linear infinite 400ms;
            animation: reveal 50ms , glow 800ms linear infinite 400ms;
  }
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 150% 150%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 150% 150%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 8px rgb(255, 81, 81);
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px rgb(255, 81, 81);
    }
  }
  .carousel-image {
    display: block;
    height: 300px;
    /* set min-width, allow images to set cell width */
    min-width: 150px;
    max-width: 100%;
    margin-right: 10px;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%)
  }
  #navmenucnt{
    padding: 10px;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(22, 22, 22, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    backdrop-filter: blur(5px);
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }