/* Demo Content */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
  /* Nav Button */
  .navMenu {

    cursor: pointer;
  }
  
  /* The Overlay (background) */
  .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */    
      height: 0%;
      width: 100%;
      position: fixed; /* Stay in place */
      z-index: 99; /* Sit on top */
      left: 0;
      top: 0;
      background-color: rgb(51,51,51); /* Black fallback color */
      background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
      overflow-y: hidden;
      transition: 0.5s;
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: right; /* Centered text/links */
      margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
      padding: 20px;
      text-decoration: none;
      font-size: 36px;
      color: #D90429 !important;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
          text-transform: uppercase;
      font-family: 'Josefin Sans', sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
      color: #999 !important;
  }
  
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .closebtn {
      font-size: 40px !important;
      top: 15px;
      right: 35px;
    }
  }